/* Detail Activities */
.header-culture{
    background-color: var(--negro);
    background-image: url("../../public/img/img_font5.webp");

    height: 50rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/* Logo */
.logo{
    color: var(--blanco);

}
.logo_nombre{
    font-weight: 400;
}
.logo_bold {
    font-weight: 700;
}
.header_titulo {
    text-align: center;
    color: var(--blanco);
    margin-top: 8rem;
}
/* Titulo */
@media (min-width: 768px) {
    .header_texto {
        margin-top: 15rem;
    }
}
.barra {
    padding-top: 4rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* Seach bar*/
.searchBar{
    position: relative;
}
.searchBar_input{
    position: relative;
    width: 165%;
    height: 4.2rem;
    display: block;
    border: 0.2rem solid var(--colorBorderInputs);
    color: var(--negro);
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding: 1rem 1.2rem;

    outline: none;
    box-shadow: 0 1rem 1rem -8px rgba(0 ,0 ,0 ,0.10);
    background: 0 0;
    background-color: var(--fondoForm);
    /* line-height: 2.1rem;
    z-index: 1; */
}
.searchBar_input:focus{
    border:  0.2rem solid var(--negro);
}
.searchBar_label{
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    z-index: 1;
    color: var(--colorCompany);
    transition: all 300ms ease-in-out;
    pointer-events: none;
}
.searchBar_input:focus~label,
.searchBar_input:not(:placeholder-shown)~label{
    /* top: -2rem; */
    left: -7rem;
    z-index: 1;
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--blanco);
}
.searchBar_input::-webkit-input-placeholder{
    color: transparent;
}
.searchBar_input::-moz-placeholder{
    color: transparent;
}

/* Navegacion */
@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 6rem;
    }
}
.navegacion_enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
    /* border-radius: 1rem;
    padding: 1rem 1rem; */
    font-weight: bold;
    /* margin: 1.5em; */

    &:hover{
        background-color: var(--blanco);
        color: var(--negro);
        padding: 0.7rem 0.7rem; 
        border-radius: 0.5rem;
    }
}


/* Carrusel */ 

.slider-box {
    /* display: flex;
    width: 100%; */
    /* height: 100vh; */
    /* overflow-x: scroll; */
    width: 128rem;
    height: 50rem;
    overflow: hidden;

    /* margin: 5rem auto 0; */
}
.header-homePage ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}
.header-homePage li {
    width: 100%;
    list-style: none;
    position: relative;
}
img{
    
    width: 100%;
    object-fit: cover;
    /* height: 50rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
}
@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}


@media(max-width: 991px){
    .slider-box {
        width: 100%
    }
}

/* detailPage */
.search-button{
    font-weight: bold;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,143,38,1) 0%, rgba(150,126,197,1) 48%, rgba(0,255,222,1) 100%);
    padding: 5px;
    border: 1px solid red;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 5px;
    cursor: pointer;
}

/* CSS - Modal */

.modal__container{
    background-color: rgba(0, 0, 0, 0.6);
    /* background-color: rgba(144, 148, 150, 0.8); */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 999; */
    z-index: 999;
}
.modal__content {
    color : white ;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    min-width: 89%;
    min-height: 90%;
    background: rgb(4,180,224);
    background: radial-gradient(circle, rgba(4,180,224,1) 13%, rgba(229,230,231,1) 100%);
}
.modal__button{
    display: inline-block;
    color: var(--negro);
    background-color: var(--celeste);

    text-align: justify;
    padding: 0.7rem;
    font-size: 1.7rem;
    text-transform: uppercase;

    transition: all 300ms ease-in-out;
    
    /* margin-bottom: 2rem; */
    border-radius: 0.7rem;

    width: 4rem;
    /* height: 2.5rem; */


    

    &:hover{
        background-color: var(--azul_Oscuro);
        cursor: pointer;
        font-weight: 700;
        color: var(--blanco);
    }
}
.modal__items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2.5rem;
    padding-top: 3.5rem;
    /* display: grid;
    grid-template-rows: ; */
}
.modal__countryDetail,
.modal__activities{
    flex: 1; /* Hacer que los contenedores tomen el mismo ancho */
    background: rgb(245,245,245);
    background: radial-gradient(circle, rgba(245,245,245,1) 86%, rgba(4,180,224,1) 100%);
   
    min-height: 73rem;
    border: 0.2rem solid var(--negro);
    border-radius: 2rem;

    text-align: justify;    
    padding: 0 3rem;    

    color: var(--negro);   

}
/* FIN - CSS Modal*/

/* CSS - PARA DETALLES COUNTRY*/
.modal__title {
    text-align: center;    
    font-size: 3.8rem;
     
}
.span__title{
    color: var(--celeste);
}
.modal__parrafo{
    font-size: 2.5rem;
    text-align: justify;
    color: var(--azul_Oscuro);
    font-weight: bold;
    
}
.span__info{
    font-size: 3.1rem;
    text-align: justify;
    color: var(--negro);
    font-weight: bolder;
    
}
.item__cerrar{
    position: absolute;

    top: 5.5rem;
    right: 11.5rem;
}
.btn__detail{
    width: 11rem;
    height: 4rem;
    
    background-color: var(--naranja);

    font-size: 1.8rem;
    color: var(--negro);
    border-radius: 1rem;
    transition: all 300ms ease-in-out;
    margin-bottom: 3rem;

    &:hover{
        background-color: var(--azul_Oscuro);
        color: var(--blanco);
        font-weight: bold;
        cursor: pointer;
    }
    /* margin: 0 2.5rem; */
}
.modal__flag{
    /* position: absolute;
    right: 110rem; */

    
}
.modal__image{
    position: absolute;
    right: 110rem;

    width: 32rem;
    height: 20rem;
    object-fit: cover;
    /* border: 2px solid var(--negro); */
    border-radius: 10px;
/* 
    box-shadow: 4px  0px 0px black,
                0px  3px 0px black,
                -3px  0px 0px black,
                0px -3px 0px black; */
    
                box-shadow: 6px  0px 0px black,
                6px  9px 0px black,
                -3px  0px 0px black,
                0px -3px 0px black;
}

/* FIN - CSS PARA DETALLES COUNTRY*/

