/* Form Page */
.header-homePage{
    background-color: var(--negro);
    background-image: url("../../public/img/img_font2.webp");

    height: 50rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/* Logo */
.logo{
    color: var(--blanco);

}
.logo_nombre{
    font-weight: 400;
}
.logo_bold {
    font-weight: 700;
}
.header_titulo {
    text-align: center;
    color: var(--blanco);
    margin-top: 8rem;
}
/* Titulo */
@media (min-width: 768px) {
    .header_texto {
        margin-top: 15rem;
    }
}
.barra {
    padding-top: 4rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* Seach bar*/
.searchBar{
    position: relative;
}
.searchBar_input{
    position: relative;
    width: 165%;
    height: 4.2rem;
    display: block;
    border: 0.2rem solid var(--colorBorderInputs);
    color: var(--negro);
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding: 1rem 1.2rem;

    outline: none;
    box-shadow: 0 1rem 1rem -8px rgba(0 ,0 ,0 ,0.10);
    background: 0 0;
    background-color: var(--fondoForm);
    /* line-height: 2.1rem;
    z-index: 1; */
}
.searchBar_input:focus{
    border:  0.2rem solid var(--negro);
}
.searchBar_label{
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    z-index: 1;
    color: var(--colorCompany);
    transition: all 300ms ease-in-out;
    pointer-events: none;
}
.searchBar_input:focus~label,
.searchBar_input:not(:placeholder-shown)~label{
    /* top: -2rem; */
    left: -7rem;
    z-index: 1;
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--blanco);
}
.searchBar_input::-webkit-input-placeholder{
    color: transparent;
}
.searchBar_input::-moz-placeholder{
    color: transparent;
}

/* Navegacion */
@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 6rem;
    }
}
.navegacion_enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
    /* border-radius: 1rem;
    padding: 1rem 1rem; */
    font-weight: bold;
    /* margin: 1.5em; */

    &:hover{
        background-color: var(--blanco);
        color: var(--negro);
        padding: 0.7rem 0.7rem; 
        border-radius: 0.5rem;
    }
}


/* Carrusel */ 

.slider-box {
    /* display: flex;
    width: 100%; */
    /* height: 100vh; */
    /* overflow-x: scroll; */
    width: 128rem;
    height: 50rem;
    overflow: hidden;

    /* margin: 5rem auto 0; */
}
.header-homePage ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}
.header-homePage li {
    width: 100%;
    list-style: none;
    position: relative;
}
img{
    
    width: 100%;
    object-fit: cover;
    /* height: 50rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
}
@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}


@media(max-width: 991px){
    .slider-box {
        width: 100%
    }
}


/* Contenedor de Cards */
.cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Card */
.card-container{
    margin: 10px;
    /* background-color: var(--texas); */
    background: linear-gradient(var(--colorSecondary), var(--colorBorderInputs));
    
    border-radius: 0px 20px 0px 20px;
    padding: 12px;
    position: relative;
    width: 350px;
}

.card-button{
    background-color: var(--colorSecondary);
    font-weight: 200;
    cursor: pointer;
}

.card-image{
    position: relative;
    width: 100%;
    max-height: 320px;
    overflow: hidden;
}

.card-datos{
    font-size: 15px;
    display: flex;
    gap: 2px;
}

.card-datos h3 {
    font-weight: bold;
    color: darkblue;
}

.card-datos span {
    color: var(--negro);
}

/* Pagination */
.pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que los botones se envuelvan en dispositivos pequeños */
}
.pagination-button{
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5em;
}

/* SearchBar */

.search-label{
    font-weight: bold;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,143,38,1) 0%, rgba(150,126,197,1) 48%, rgba(0,255,222,1) 100%);
    padding: 5px;
    border: 1px solid red;
    border-radius: 100px;
    display: inline-block;
    margin-bottom: 5px;
}
.search-input{
    font-weight: bold; 
    color: orange; 
}
.search-select{
    font-weight: bold; 
    color: orange; 
}
.search-option{
    font-weight: bold; 
    color: orange;
}
.search-button{
    font-weight: bold;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,143,38,1) 0%, rgba(150,126,197,1) 48%, rgba(0,255,222,1) 100%);
    padding: 5px;
    border: 1px solid red;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 5px;
    cursor: pointer;
}

/* Main */
.main-container{
    background-size: cover;
    background-position: center;
    text-align: center;
}
.filtro-title{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,143,38,1) 0%, rgba(150,126,197,1) 48%, rgba(0,255,222,1) 100%);
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .filtro-container{
        font-size: 10px;
        display: block; /* Mostrar elementos uno debajo del otro en dispositivos móviles */
        padding: auto;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
    }
}

.country-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination-container{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,143,38,1) 0%, rgba(150,126,197,1) 48%, rgba(0,255,222,1) 100%);
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

/* Extras */
.search-container{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,143,38,1) 0%, rgba(150,126,197,1) 48%, rgba(0,255,222,1) 100%);
    display: flex;
    justify-content: center;
}
.search-label{
    font-weight: bold;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,143,38,1) 0%, rgba(150,126,197,1) 48%, rgba(0,255,222,1) 100%);
    padding: 5px;
    border: 1px solid red;
    border-radius: 100px;
    display: inline-block;
    margin-bottom: 5px;
}
.search-input{
    font-weight: bold; 
    color: orange; 
}
.search-select{
    font-weight: bold; 
    color: orange; 
}
.search-option{
    font-weight: bold; 
    color: orange;
}
.search-button{
    font-weight: bold;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,143,38,1) 0%, rgba(150,126,197,1) 48%, rgba(0,255,222,1) 100%);
    padding: 5px;
    border: 1px solid red;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 5px;
    cursor: pointer;
}

/* Form */

.form-field{
    padding: 10px;
    margin-bottom: 15px;
    color: darkblue;
}
.form-checkbox{
    display: block;
    margin-bottom: 5px;
}
.form-countryCheckWrapper{
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 10px;
}
.form-error{
    color: red;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* O la altura que desees */
}