/* Variables*/
:root {
  --fuenteHeading: 'PT Sans', sans-serif;
  --fuenteParrafos: 'Open Sans', sans-serif;

  --primario: #784d3c;
  --blanco: #ffffff;
  --negro: #000000;

  --fondoForm: #e1e1e1;
  --fondoPrincipal: #243b55;

  --colorBorderReviews: #E5E6E7;
  --colorBorderInputs: #222222;
  --colorSecondary: #04B4E0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  
  font-family: var(--fuenteParrafos);
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  place-items: center;
}

/* Globales */
.contenedor {
  width: min(90%, 130rem);
  margin: 0 auto;
}
.contenido_principal {
  width: min(100%, 50rem);
  margin: 0 auto;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: var(--fuenteHeading);
  line-height: 1.2;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.8rem;
}
img {
  max-width: 100%;
}
/** Utilidades **/
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.centrar-texto {
  text-align: center;
}

